Assignment 1

Q1) Create one variable containing following type of data:

(i) string

In [ ]:
s="pwskiils"

(ii) list

In [ ]:
l=[22,34,"abc",78.66,True,67+9j]

(iii) float

In [ ]:
f=90.88

(iv) tuple

In [ ]:
t=(1,2,3,"Data science",False,67+9j,[5,6,8])

Q2) Given are some following variables containing data:

i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable:

Answer:

(i) String

(ii) String

(iii) List

(iv) Integer

Q3. Explain the use of the following operators using an example:

(i) /

It is division(float) operator. It divide the first operand by the second

example:

In [9]:
a=6

In [10]:
b=3

In [11]:
print(a / b)

2.0

(ii) %

It is a modulus operator. It returns the remainder when the first operand is divided by the second

example

In [12]:
x=9

In [13]:
y=3

In [14]:
print(x % y)

0

(iii) //

It is a division (floor) operator.It divides the first operand by the second.

example

In [15]:
p=4

In [16]:
q=2

In [17]:
print(p // q)

2

(iv) **

It is a power operator. It returns first raised to power second.

example

In [18]:
s=3

In [19]:
t=2

In [20]:
print(s ** t)

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
l=[1,22,345,"Artificial Intelligence",True,8+66j,89.7,"Data science","z",90.4]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
22
<class 'int'>
345
<class 'int'>
Artificial Intelligence
<class 'str'>
True
<class 'bool'>
(8+66j)
<class 'complex'>
89.7
<class 'float'>
Data science
<class 'str'>
z
<class 'str'>
90.4
<class 'float'>

Q5. using a while loop verify the number A is purely divisible by number B and if so then how many times it can be divisible

In [ ]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
        
if A % B == 0:
        count = A // B
        print(B, "can divide" , A , "," ,count, "times.")
else:
        print(B, "can divide", A , "purely")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [25]:
list=[]

In [38]:

for i in range (0,26):
    print(i)
    list.append(i)
    if i % 3 == 0:
        print("number is divisible by 3")
    else:
        print("number is not divisible by 3")

0
number is divisible by 3
1
number is not divisible by 3
2
number is not divisible by 3
3
number is divisible by 3
4
number is not divisible by 3
5
number is not divisible by 3
6
number is divisible by 3
7
number is not divisible by 3
8
number is not divisible by 3
9
number is divisible by 3
10
number is not divisible by 3
11
number is not divisible by 3
12
number is divisible by 3
13
number is not divisible by 3
14
number is not divisible by 3
15
number is divisible by 3
16
number is not divisible by 3
17
number is not divisible by 3
18
number is divisible by 3
19
number is not divisible by 3
20
number is not divisible by 3
21
number is divisible by 3
22
number is not divisible by 3
23
number is not divisible by 3
24
number is divisible by 3
25
number is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this proper

Mutable Data Types

Anything is said to be mutable when anything can be modified or changed. The term "mutable" in Python refers to an object's capacity to modify its values. These are frequently the things that hold a data collection

examples

(i) list

In [ ]:
l=[1,22,345,"Artificial Intelligence",True,8+66j,89.7,"Data science","z",90.4]

(ii) Dictionaries

In [ ]:
d={"name":"xyz","course":"data science","branch":"AI"}

(iii) Set

In [23]:
s={2,45,78,99,"sneha",78+8j,89.7}

Immutable Data Types

Immutable refers to a state in which no change can occur over time. A Python object is referred to as immutable if we cannot change its value over time. The value of these Python objects is fixed once they are made.

examples

(i) String

In [22]:
s="pwskills"

(ii) Tuples

In [24]:
t=(1,2,3,"Data science",False,67+9j,[5,6,8])