Assignment (Week 2)

Q1) How do you comment code in Python? What are the different types of comments ?

Answer : Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. There are three ways to write a comment - as a separate line, beside the corresponding statement of code, or as a multi-line comment block.

Types of Comments in Python

Single-Line Comments in Python

Python single-line comment starts with the hashtag symbol (#) with no white spaces and lasts till the end of the line. If the comment exceeds one line then put a hashtag on the next line and continue the Python Comments. Python’s single-line comments are proved useful for supplying short explanations for variables, function declarations, and expressions.

Example:

In [1]:
# This is a single line comment

Multi-Line Comments in Python

Answer: Python does not provide the option for multiline comments. However, there are different ways through which we can write multiline comments.
Multiline comments using multiple hashtags (#)
We can multiple hashtags (#) to write multiline comments in Python. Each and every line will be considered as a single-line comment. we can use """  """ also for multiple line comment.

Example:

In [2]:
# this is a data science course
# this is a week 2 of python languague function lecture

In [3]:
""" this is a data science course
this is a week 2 of python languague function lecture """

' this is a data science course\nthis is a week 2 of python languague function lecture'

 Q2) What are variables in Python? How do you declare and assign values to variables ?

Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.

Example of Variable in Python

An Example of a Variable in Python is a representational name that serves as a pointer to an object. Once an object is assigned to a variable, it can be referred to by that name. In layman’s terms, we can say that Variable in Python is containers that store values.

Here we have stored “pwskills” in a var which is variable, and when we call its name the stored information will get printed.

In [4]:
var="pwskills"

In [5]:
var

'pwskills'

In [6]:
num = 900       # declaration of value

In [7]:
num

900

In [8]:
a, b, c = 59, 90, "pwskills"      # assigning values to variables

In [10]:
print(a)

59

In [11]:
print(b)

90

In [12]:
print(c)

pwskills

Q3)  How do you convert one data type to another in Python ?

Answer: Type conversion is the process of converting one data type to another. There can be two types of type conversion in Python –

Implicit Type Conversion and Explicit Type Conversion

1)Implicit Type Conversion

examples:

In [14]:
# Python automatically converts
# a to int
a = 5
print(type(a))

# Python automatically converts
# b to float
b = 1.0
print(type(b))

# Python automatically converts
# c to int as it is a floor division
c = a//b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
5.0
<class 'float'>

2)Explicit Type Conversion

In Explicit type conversion, user involvement is required. The user converts one data type to another according to his own need. This can be done with the help of str(), int(), float(), etc. functions. Let’s see the handling of various type conversions.

* Type Conversion with strings

A string is generally a sequence of one or more characters. We are often required to convert string to numbers and vice versa. Let’s see each of them in detail.

Converting Numbers to String

A number can be converted to string using the str() function. To do this pass a number or a variable containing the numeric value to this function.

example:

In [15]:
a=10

In [16]:
s=str(a)

In [17]:
print(s)
print(type(s))

10
<class 'str'>

* Converting String to Number

A string can be converted to a number using int() or float() method. To do this pass a valid string containing the numerical value to either of these functions (depending upon the need).

Note: If A string containing not containing a numeric value is passed then an error is raised.

example:

In [18]:
z='50'

In [19]:
n=int(z)

In [20]:
print(n)
print(type(n))

50
<class 'int'>

In [ ]:
z='50'

In [23]:
n=float(z)

In [24]:
print(n)
print(type(n))

50.0
<class 'float'>

* Type Conversion with Numbers

There are basically two types of numbers in Python – integers and floating-point numbers. Weare often required to change from one type to another. Let’s see their conversion in detail.

* Floating Point to Integer
 
A floating-point can be converted to an integer using the int() function. To do this pass a floating-point inside the int() method.

* Integer to Floating Point

An integer can be converted to float using the float() method. To do this pass an integer inside the float() method.

* Type conversion between Tuple and List

In Python, Both tuple and list can be converted to one another. It can be done by using the tuple() and list() method. See the below examples for better understanding.

example:

In [25]:
t = (1, 2, 3, 4)
l = [5, 6, 7, 8]
 
# Converting to tuple
T = tuple(l)
print(T)
print(type(T))
 
# Converting to list
L = list(t)
print(L)
print(type(L))

(5, 6, 7, 8)
<class 'tuple'>
[1, 2, 3, 4]
<class 'list'>

Q4. How do you write and execute a Python script from the command line?

Answer: Python is a well-known high-level programming language. The Python script is basically a file containing code written in Python. The file containing Python script has the extension ‘.py’ or can also have the extension ‘.pyw’ if it is being run on a Windows machine. In this article, we will learn how to run a Python program. To run a Python script, we need a Python interpreter that needs to be downloaded and installed.

How to Run Python Script by the Command Line

To run a Python script store in a ‘.py’ file in the command line, we have to write ‘python’ keyword before the file name in the command prompt.

python hello.py

You can write your own file name in place of ‘hello.py’.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

Answer:

In [26]:
my_list = [1,2,3,4,5]

In [28]:
my_list[1:3:1]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer: Complex Numbers are the numbers of the form (a + i b) where a & b are the real numbers and i is an imaginary unit called iota that represents √-1. For example, 2 + 3i, is a complex number in which 2 is a real number and 3i is an imaginary number.

representing in python

In [29]:
z = 34 + 78j       # in python we write j instead of i

In [30]:
type(z)

complex

In [31]:
z.real

34.0

In [34]:
z.imag

78.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it ?

Answer:

In [35]:
# decalare value 25 to variable called as age

In [66]:
age = int(25)

In [67]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to ?

Answer:

In [39]:
price = 9.99

In [40]:
price

9.99

In [41]:
z = price

In [42]:
type(z)

float

we get float data type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable

Answer:

In [69]:
s = "Snehal Thale"

In [70]:
s

'Snehal Thale'

Q10. Given the string "Hello, World!", extract the substring "World"

Answer:

In [ ]:
s = "Hello, World!"

In [68]:
s[7:12:1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not ?

Answer:

In [72]:
is_student = True

In [73]:
print(is_student)

True